In [29]:
from pathlib import Path
from IPython.display import Markdown, display

In [34]:
sas_code = Path("dsf_to_pd.sas").read_text(encoding="utf-8")

In [35]:
display(Markdown(f"```sas\n{sas_code}\n```"))

```sas
%let start_date = '01JAN2010'd;
%let end_date   = '29JUN2018'd;

proc sql;
  create table tickers as
  select s.permno, s.ticker
  from crsp.stocknames as s
  where ticker in ('AAPL','MSFT','INTC','AMZN','GS') and
    &end_date between s.namedt and s.nameenddt;
quit;

proc sql;
  create table dsf_sub as
  select
      t.ticker,
      d.date,
      d.prc,
      d.ret,
      d.retx
  from crsp.dsf as d
  inner join work.tickers as t
    on d.permno = t.permno
  where d.date between &start_date and &end_date
  order by t.ticker, d.date
  ;
quit;

proc sort data=dsf_sub out=dsf_sub_s;
  by ticker date;
run;


/* Pass 1: compute cumulative growth */
data dsf_g;
  set dsf_sub_s;
  by ticker;

  retain growth;
  if first.ticker then growth = 1;

  /* If retx can be missing, decide how you want to handle it.
     Common choice: treat missing as 0 (no return). */
  if missing(retx) then growth = growth * 1;
  else growth = growth * (1 + retx);
run;

/* Pass 2: grab the last prc and last growth for each ticker */
data lastvals(keep=ticker prc_last growth_last);
  set dsf_g;
  by ticker;
  if last.ticker then do;
    prc_last = prc;
    growth_last = growth;
    output;
  end;
run;

/* Join back and compute adjusted price */
proc sql;
  create table dsf_adj as
  select
      g.ticker,
      g.date,
      /* keep original prc/ret/retx if you want */
      g.prc,
      g.ret,
      g.retx,
      /* adjusted price */
      (l.prc_last * g.growth / l.growth_last) as prc_adj
  from dsf_g as g
  inner join lastvals as l
    on g.ticker = l.ticker
  order by g.ticker, g.date
  ;
quit;

proc export data=dsf_adj outfile=stdout dbms=csv;
run;

```

In [36]:
dsf_adj = sas_to_pandas(sas_code)

In [37]:
dsf_adj

      ticker      date        prc       ret      retx    prc_adj
0       AAPL  20100104  214.00999  0.015555  0.015555  30.572856
1       AAPL  20100105  214.38000  0.001729  0.001729  30.625715
2       AAPL  20100106  210.97000 -0.015906 -0.015906  30.138571
3       AAPL  20100107  210.58000 -0.001849 -0.001849  30.082857
4       AAPL  20100108  211.98000  0.006648  0.006648  30.282856
...      ...       ...        ...       ...       ...        ...
10685   MSFT  20180625   98.39000 -0.020118 -0.020118  98.389999
10686   MSFT  20180626   99.08000  0.007013  0.007013  99.080002
10687   MSFT  20180627   97.54000 -0.015543 -0.015543  97.540001
10688   MSFT  20180628   98.63000  0.011175  0.011175  98.629997
10689   MSFT  20180629   98.61000 -0.000203 -0.000203  98.610001

[10690 rows x 6 columns]

In [23]:
dsf_adj["date"] = pd.to_datetime(dsf_adj["date"], format="%Y%m%d")

data_alt = (dsf_adj
    .pivot(index="date", columns="ticker", values="prc")
    # .reindex(data.index)
)

In [24]:
data_alt

ticker           AAPL        AMZN         GS   INTC    MSFT
date
2010-01-04  214.00999   133.89999  173.08000  20.88  30.950
2010-01-05  214.38000   134.69000  176.14000  20.87  30.960
2010-01-06  210.97000   132.25000  174.25999  20.80  30.770
2010-01-07  210.58000   130.00000  177.67000  20.60  30.452
2010-01-08  211.98000   133.52000  174.31000  20.83  30.660
...               ...         ...        ...    ...     ...
2018-06-25  182.17000  1663.15002  221.53999  50.71  98.390
2018-06-26  184.42999  1691.08997  221.58000  49.67  99.080
2018-06-27  184.16000  1660.51001  220.17999  48.76  97.540
2018-06-28  185.50000  1701.44995  223.42000  49.25  98.630
2018-06-29  185.11000  1699.80005  220.57001  49.71  98.610

[2138 rows x 5 columns]

In [10]:
df.pivot(index="date", columns="ticker", values="prc")

ticker         AAPL        AMZN         GS   INTC    MSFT
date
20100104  214.00999   133.89999  173.08000  20.88  30.950
20100105  214.38000   134.69000  176.14000  20.87  30.960
20100106  210.97000   132.25000  174.25999  20.80  30.770
20100107  210.58000   130.00000  177.67000  20.60  30.452
20100108  211.98000   133.52000  174.31000  20.83  30.660
...             ...         ...        ...    ...     ...
20180625  182.17000  1663.15002  221.53999  50.71  98.390
20180626  184.42999  1691.08997  221.58000  49.67  99.080
20180627  184.16000  1660.51001  220.17999  48.76  97.540
20180628  185.50000  1701.44995  223.42000  49.25  98.630
20180629  185.11000  1699.80005  220.57001  49.71  98.610

[2138 rows x 5 columns]